<div class="displayTable">
    <div class="authBlock">
      <h3>AdebSystem 2.0</h3>
      <input nbInput fullWidth fieldSize="giant" type="text" class="formControl" placeholder="Username" #userName
             required>

      <input nbInput fullWidth fieldSize="giant" type="password" class="formControl" placeholder="Password"
             #userPassword
             required>

      <!-- Calling SignIn Api from AuthService -->
      <button nbButton fullWidth status="primary" (click)="authService.SignIn(userName.value, userPassword.value)">
        Entrar
      </button>

      <!-- Calling GoogleAuth Api from AuthService -->
      <button nbButton fullWidth status="danger" type="button" (click)="authService.GoogleAuth()">
        <nb-icon icon="google"></nb-icon>
        Google
      </button>

      <button nbButton outline status="primary" routerLink="/forgot-password">Esqueci a senha!</button>
      <button nbButton outline status="primary" routerLink="/register-user">Cadastre-se com e-mail</button>
    </div>
</div>
